<?xml version="1.0" encoding="UTF-8"?>
 <web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
    <welcome-file>qutoes/index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
    	<listener-class>com.cyb.qutoes.listener.InitBeforeLoadSpringListener</listener-class>
    </listener>
    <!--<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>-->
	<filter>
    	<description>
    	</description>
    	<display-name>CrossWebFilter</display-name>
    	<filter-name>CrossWebFilter</filter-name>
    	<filter-class>com.cyb.filter.CrossWebFilter</filter-class>
    </filter> 
	<filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
	<filter>
		<description>
		</description>
		<display-name>TestFilter</display-name>
		<filter-name>TestFilter</filter-name>
		<filter-class>com.cyb.controller.TestFilter</filter-class>
	</filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>TestFilter</filter-name>
    	<url-pattern>/TestFilter</url-pattern>
    </filter-mapping>
   <!-- <filter>
     <filter-name>struts2</filter-name> 
     <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
     <init-param>  
        <param-name>config</param-name>  
        <param-value>classpath:platform-web.xml,struts-default.xml,struts-plugin.xml,struts2/struts.xml</param-value>  
    </init-param>  
</filter>
<filter-mapping>
     <filter-name>struts2</filter-name>
     <url-pattern>*.action</url-pattern>
</filter-mapping> -->
    <!-- <servlet>  
        <servlet-name>XFireServlet</servlet-name>  
        <servlet-class>org.codehaus.xfire.spring.XFireSpringServlet</servlet-class>  
        <load-on-startup>0</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>XFireServlet</servlet-name>  
        <url-pattern>/services/*</url-pattern>  
    </servlet-mapping>  --> 
      <!-- 注册axis2的servlet -->
   <!--  <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>
            org.apache.axis2.transport.http.AxisServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping> -->
     <servlet>  
        <servlet-name>HelloWorldService</servlet-name>  
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>HelloWorldService</servlet-name>  
        <url-pattern>/services/*</url-pattern>  
    </servlet-mapping>  
  
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
    	<listener-class>com.cyb.qutoes.listener.QutoesListener</listener-class>
    </listener>
    <!-- ,classpath:org/codehaus/xfire/spring/xfire.xml -->
    <context-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>classpath:applicationContext_*.xml</param-value>
    </context-param>
   
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DrawImage</display-name>
    	<servlet-name>DrawImage</servlet-name>
    	<servlet-class>com.cyb.securitycode.DrawImage</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CheckServlet</display-name>
    	<servlet-name>CheckServlet</servlet-name>
    	<servlet-class>com.cyb.securitycode.CheckServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PhoneWebServiceImpl</display-name>
    	<servlet-name>PhoneWebServiceImpl</servlet-name>
    	<servlet-class>com.cyb.phone.servlet.PhoneWebServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>*.zc</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.css</url-pattern> 
    </servlet-mapping> 
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.js</url-pattern> 
    </servlet-mapping>  
    <!-- <servlet-mapping> 
        <servlet-name>default</servlet-name> 
        <url-pattern>*.html</url-pattern> 
    </servlet-mapping> -->
	<servlet-mapping> 
	     <servlet-name>default</servlet-name> 
        <url-pattern>*.png</url-pattern> 
    </servlet-mapping>
	<servlet-mapping> 
	     <servlet-name>default</servlet-name> 
        <url-pattern>*.jpg</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.gif</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.jpeg</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.ico</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.woff</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.woff2</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.ttf</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.map</url-pattern> 
    </servlet-mapping>
     <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.json</url-pattern> 
    </servlet-mapping>
    <!-- <servlet-mapping> 
         <servlet-name>default</servlet-name> 
        <url-pattern>*.html</url-pattern> 
    </servlet-mapping> -->
    <servlet-mapping>
    	<servlet-name>DrawImage</servlet-name>
    	<url-pattern>/DrawImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CheckServlet</servlet-name>
    	<url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PhoneWebServiceImpl</servlet-name>
    	<url-pattern>/PhoneWebServiceImpl</url-pattern>
    </servlet-mapping>
     <!-- <servlet-mapping> 
        <servlet-name>default</servlet-name> 
        <url-pattern>*.jsp</url-pattern> 
    </servlet-mapping> --> 
    <!--  静态资源不拦截   -->
    <!--  <servlet-mapping>  
	    <servlet-name>default</servlet-name>  
	    <url-pattern>/js/*</url-pattern>  
	    <url-pattern>/css/*</url-pattern>  
	    <url-pattern>/images/*</url-pattern>  
	    <url-pattern>/fonts/*</url-pattern>  
	</servlet-mapping>  -->
    <error-page>  
        <error-code>403</error-code>  
        <location>/403.jsp</location>  
    </error-page>  
    <!-- <error-page>  
        <error-code>404</error-code>  
        <location>/404.jsp</location>  
    </error-page>   -->
    <error-page>  
        <error-code>405</error-code>  
        <location>/405.jsp</location>  
    </error-page>  
    <error-page>  
        <error-code>500</error-code>  
        <location>/500.jsp</location>  
    </error-page>  
    <filter>
      <description>
      </description>
      <display-name>LoginFilter</display-name>
      <filter-name>LoginFilter</filter-name>
      <filter-class>com.cyb.LoginFilter</filter-class>
      <init-param>
  	    <param-name>loginUrl</param-name>
  	    <param-value>cfjh/login.jsp?page=qutoes/index</param-value>
  	  </init-param>
   </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>MySpringDispatherServlet</display-name>
    	<filter-name>MySpringDispatherServlet</filter-name>
    	<filter-class>com.cyb.filter.MySpringDispatherServlet</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>ServletFilter1</display-name>
    	<filter-name>ServletFilter1</filter-name>
    	<filter-class>com.cyb.filter.ServletFilter1</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>ServletFilter2</display-name>
    	<filter-name>ServletFilter2</filter-name>
    	<filter-class>com.cyb.filter.ServletFilter2</filter-class>
    </filter>
   <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/ws/*</url-pattern>
  </filter-mapping>
   <filter-mapping>
   	<filter-name>CrossWebFilter</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>MySpringDispatherServlet</filter-name>
   	<url-pattern>*.spring</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>ServletFilter1</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
   	<filter-name>ServletFilter2</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>
  <servlet>
      <servlet-name>DruidStatView</servlet-name>
      <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>DruidStatView</servlet-name>
    	<url-pattern>/druid/*</url-pattern>
   </servlet-mapping>
   <servlet>
    	<description>
    	</description>
    	<display-name>Upload</display-name>
    	<servlet-name>Upload</servlet-name>
    	<servlet-class>com.cyb.updown.Upload</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UploadServlet</display-name>
    	<servlet-name>UploadServlet</servlet-name>
    	<servlet-class>com.cyb.updown.process.UploadServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>MutilUpload</display-name>
    	<servlet-name>MutilUpload</servlet-name>
    	<servlet-class>com.cyb.updown.MutilUpload</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Download</display-name>
    	<servlet-name>Download</servlet-name>
    	<servlet-class>com.cyb.updown.Download</servlet-class>
    </servlet> 
    <servlet-mapping>
    	<servlet-name>Upload</servlet-name>
    	<url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MutilUpload</servlet-name>
    	<url-pattern>/MutilUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Download</servlet-name>
    	<url-pattern>/Download</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
    	<servlet-name>UploadServlet</servlet-name>
    	<url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
  <!-- <servlet-mapping>
      <servlet-name>DruidStatView</servlet-name>
      <url-pattern>/druid/*</url-pattern>
  <servlet-mapping> -->
   <!--
   <filter>
	  	<filter-name>cfglFilter</filter-name>
	  	<filter-class>com.cyb.cfgl.manager.CfglFilter</filter-class>
		  	<init-param>
		  	    <param-name>cfglLoginUrl</param-name>
		  	    <param-value>cfjh/login.jsp</param-value>
		  	</init-param>
	 </filter>
   <filter-mapping>
  	<filter-name>cfglFilter</filter-name>
  	<url-pattern>/cfgl/*</url-pattern>
  </filter-mapping> -->
  <!-- org.apache.struts2.dispatcher.FilterDispatcher -->
</web-app>
