<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="myJob" class="com.cyb.web.quartz.MyJob" />
	<bean id="myQuartzJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">    
		<property name="targetObject" ref="myJob" />    
		<property name="targetMethod" value="doSomething" />    
		<property name="concurrent" value="false" />
	</bean>
	<bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">       
		<property name="jobDetail" ref="myQuartzJob" />
		<property name="cronExpression">           
			<value>0/20 * * * * ?</value>       
		</property>   
	</bean>
	<bean id="jobTest" name="schedulerFactoryTest" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">    
		<property name="triggers">      
			<list>            
				<ref bean="myTrigger" /> 
			</list>    
		</property>
	</bean>
</beans>