<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task-3.1.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			">
	<!-- <bean id="propertyConfigurer_s" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	  <property name="location" value="classpath:schedual.properties" />
	</bean> -->
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id='testJob' class="com.cyb.quartz.TestJob"></bean>
	<bean id="testTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject" ref="testJob"></property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod" value="testMethod"></property>
	</bean>
	<!-- 定义触发时间 -->
	<bean id="test_time1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="testTask"></property>
		<property name="cronExpression" ><!-- * * */1 * * ? value="${time1}"-->
			 <value>0 0/50 * * * ?</value> 
		</property>
	</bean>  
	  <bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
            <property name="triggers">  
                <list>  
                    <ref bean="test_time1"/>  
                </list>  
            </property>  
        </bean>  
</beans>
