.tree {
	width: 170px;
	padding: 40px 28px 25px 0;
	font-family: "ו", "Century Gothic", Arial, Helvetica, sans-serif;
}
ul.tree {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none;
}
ul.tree li {}
ul.tree li a {
	line-height: 10px;
	font-size: 1em;
	padding: 10px 5px;
	color: #000;
	display: block;
	text-decoration: none;
	font-weight: bolder;
}
ul.tree li a:hover {
	background-color:#675C7C;
	color:#000;
}
ul.tree ul {
	margin: 0;
	padding: 0;
	display: none;
}
ul.tree ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
ul.tree ul li a {
	padding-left: 20px;
	font-size: 1em;
	font-weight: normal;
	outline:0;
}
ul.tree ul li a:hover {
	background-color:#D3C99C;
	color:#675C7C;
}
ul.tree ul ul li a {
	color:#000;
	padding-left: 40px;
}
ul.tree ul ul li a:hover {
	background-color:#D3CEB8;
	color:#675C7C;
}
ul.tree span{
	float:right;
}
